
@import url(./reset.css);
body{
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	line-height: 1.7;
    color: #b0acdb;
    background-color: #181537;
}
a:hover {
	text-decoration: none;
}
.link {
  color: #b0acdb;
}
.link:hover {
  color: #c4c3ca;
}
p {
  font-weight: 500;
  font-size: 14px;
}
h4 {
  font-weight: 600;
}
h6 span{
  padding: 0 20px;
  font-weight: 700;
}
.section{
  position: relative;
  width: 100%;
  display: block;
}
.full-height{
  min-height: 100vh;
}
[type="checkbox"]:checked,
[type="checkbox"]:not(:checked){
display: none;
}
.checkbox:checked + label,
.checkbox:not(:checked) + label{
  position: relative;
  display: block;
  text-align: center;
  width: 60px;
  height: 16px;
  border-radius: 8px;
  padding: 0;
  margin: 10px auto;
  cursor: pointer;
  background-color: #b0acdb;
}
.checkbox:checked + label:before,
.checkbox:not(:checked) + label:before{
  position: absolute;
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  color: #b0acdb;
  background-color: #491199;
  font-family: 'unicons';
  content: '\eabf';
  z-index: 20;
  top: -10px;
  left: -10px;
  line-height: 36px;
  text-align: center;
  font-size: 24px;
  transition: all 0.5s ease;
}
.checkbox:checked + label:before {
  transform: translateX(44px);
  content: '\ebae';
}
.card-3d-wrap {
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 80vh;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  perspective: 800px;
  margin-top: 60px;
}
.card-3d-wrapper {
  width: 100%;
  height: 100%;
  position:absolute;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: all 600ms ease-out;
}

.card-front, .card-back {
    width: 100%;
    height: 100%;
    background-color: #363262;
    position: absolute;
    border-radius: 6px;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
  }
  .card-back {
    transform: rotateX(180deg);
  }

.checkbox:checked ~ .card-3d-wrap .card-3d-wrapper {
  transform: rotateX(180deg);
}
.center-wrap{
  position: absolute;
  width: 100%;
  padding: 0 35px;
  top: 50%;
  left: 0;
  transform: translate3d(0, -50%, 35px) perspective(100px);
  z-index: 20;
  display: block;
}

.cards{
    margin: 1rem 1.5rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 200px;
    gap: 2rem;
  }
  
  .card{
    background-color: #7874a4;
    margin-top: 1.5rem;
    border-radius: 15px;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    padding: .5rem;
  }
  
  .card img, .task img{
    width: 20px;
  }
  
  .dificuldade{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #e626b0;
  }
  
  .linguagens{
    width: 20%;
  }
  
  .baixo{
    width: 100%;
  }
  
  .pessoas-foto{
    border-radius: 50%;
  }
  
  .ultima-linha{
    display: flex;
    justify-content: space-between;
    margin-top: .5rem;
  }

  .listas{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .task{
    background-color: #7874a4;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
  }