.home{
    width: 100%;
    display: flex;
    height: 1100px;
    text-align: center;
}


.menuLateral{
    width: 20%;
    height: 100%;
    display: inline;
    text-align: center;
    background-color: #181537;
}


.logout{
    width: 40%;
    height: 36px;
    margin: auto;
    border: none;
    color: red;
    display: flex;
    text-align: center;
    align-items: center;
    border-radius: 30px;
    background-color: #181537;
}

.logoutPic{
    width: 45%;
    display: inline;
    text-align: right;
}

.logoutPic img{
    width: 25px;
}

.logoutText{
    width: 50%;
    display: inline;
    text-align: left;
    align-items: center;
    box-sizing: border-box;
    padding-left: 6px;
}

.logout:hover{
    background-color: #363262;
}

.principal{
    width: 80%;
    height: 100%;
    display: inline;
    background-color: #363262;
}