.home{
    width: 100%;
    display: flex;
    height: 100%;
    text-align: center;
}

.menuLateral{
    width: 15%;
    height: 100%;
    display: inline;
    text-align: center;
    position: fixed;
    background-color: #181537;
}

.sidebarInfo{
    margin-top: 10%;
    font-size: 23px;
    text-align: center;
    color: white;
    background-color: #181537;
}

.profileInfo{
    width: 60%;
    height: 50px;
    margin: 25px 25%;
    display: flex;
    color: white;
    text-align: center;
    align-items: center;
    border-radius: 30px;
    background-color: #363262; 
}
  
.profilePicture{
    width: 25%;
    display: inline;
    border-radius: 100%;
}

.profileName{
    width: 80%;
}

.logout{
    width: 40%;
    height: 36px;
    margin: auto;
    margin-bottom: 0;
    border: none;
    color: red;
    display: flex;
    text-align: center;
    align-items: center;
    border-radius: 30px;
    background-color: #181537;
}

.logoutPic{
    width: 45%;
    display: inline;
    text-align: right;
}

.logoutPic img{
    width: 25px;
}

.logoutText{
    width: 50%;
    display: inline;
    text-align: left;
    align-items: center;
    box-sizing: border-box;
    padding-left: 6px;
}

.logout:hover{
    background-color: #363262;
}

.main{
    width: 85%;
    height: 100%;
    margin-left: 15%;
    display: inline;
    background-color: #363262;
}

.mainTitle{
    width: 100%;
    margin: 45px 0;
    height: 75px;
    display: block;
    color: white;
    font-size: 75px;
}

.teamsGrid{
    width: 100%;
    display: flexbox;
}

.teamButton{
    width: 15%;
    height: 150px;
    margin:3%;
    border: none;
    border-radius: 25px;
    background-color: #7168CD;
}