@import url(./reset.css);
@import url(./project_home.css);
@import url(./modal.css);

body{
    background-color: #181537;
}

.board{
    text-align: center;
    width: 85%;
    height: 100vh;
    margin-left: 15%;
    padding-top: 2rem;
}

.real-kanban{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    margin: 2rem;
}

.type-card{
    background-color: #b0acdb;
    padding: 1rem;
    border-radius: 5px;
    width: 20%;
    min-height: 200px;
}

.type-lista{
  background-color: #b0acdb;
  padding: 1rem;
  border-radius: 5px;
  width: 110%;
  min-height: 100px;
}

.add-atv{
  margin: 2rem 0 0 2rem;
  text-align: start;
}

.add-botao{
  background-color: #b0acdb;
  border: none;
  border-radius: 5px;
  color: #fff;
  padding: .8rem 1rem;
  font-size: 14px;
	font-family: 'Poppins', sans-serif;
}

.add-botao:hover{
  background-color: #7874a4;
  transition: .4s;
}

.listas{
  display: flex;
  flex-direction: column;
  width: 85%;
}

.lista{
  background-color: #7874a4;
  margin: 1rem 0;
  border-radius: 15px;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  padding: .5rem;
}

/* .cards{
  margin: 1rem 1.5rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 200px;
  gap: 2rem;
} */

.card{
  background-color: #7874a4;
  margin-top: 1.5rem;
  border-radius: 15px;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  flex-direction: column;
  padding: .5rem;
  max-width: 270px;
}

.dificuldade{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #e626b0;
}

.descricao{
  margin: .5rem 0;
  height: 30px;
  overflow: hidden;
  background-color: #181537;
  border-radius: 5px;
  padding: 0 .5rem;
}

.descricao p{
  font-size: 14px;
  color: #b0acdb;
}

.baixo{
  width: 100%;
}

.data{
  font-size: 12px;
}

.ultima-linha{
  display: flex;
  justify-content: space-between;
  margin-top: .5rem;
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked){
display: none;
}
.checkbox:checked + label,
.checkbox:not(:checked) + label{
  position: relative;
  display: block;
  text-align: center;
  width: 60px;
  height: 16px;
  border-radius: 8px;
  padding: 0;
  margin: 0 2rem;
  cursor: pointer;
  background-color: #b0acdb;
}

.checkbox:checked + label:before,
.checkbox:not(:checked) + label:before{
  position: absolute;
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  color: #b0acdb;
  background-color: #491199;
  font-family: 'unicons';
  content: '\eabf';
  z-index: 1;
  top: -10px;
  left: -10px;
  line-height: 36px;
  text-align: center;
  font-size: 20px;
  transition: all 0.5s ease;
}
.checkbox:checked + label:before {
  transform: translateX(44px) /* rotate(-270deg) */;
  content: '\ebae';
}

.add-modal {
  display: none;
  position: fixed;
  z-index: 20;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  animation: modalOpen 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  opacity: 0;
  transform: scale(0.8);
  backdrop-filter: blur(3px);
}

.modal-content{
  background-color: #b0acdb;
  height: 60vh;
  border-radius: 10px;
}

.add-content {
  background-color: #b0acdb;
  height: 60vh;
  border-radius: 10px;
  margin: 10% auto; /* Centraliza vertical e horizontalmente */
  padding: 20px;
  width: 80%; /* Define a largura do modal */
}

.add-cancelar{
  border: none;
}

@media screen and (min-width: 1200px) and (max-width: 1700px){
  .add-atv{
    width: 10%;
  }
  .data{
    font-size: 10px;
  }
  .dificuldade{
    width: 15px;
    height: 15px;
  }
  .titulo h3{
    font-size: 14px;
  }
  .descricao p{
    font-size: 14px;
  }
}