@import url(./reset.css);
@import url(./project_home.css);

body{
    background-color: #181537;
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked){
display: none;
}
.checkbox:checked + label,
.checkbox:not(:checked) + label{
  position: relative;
  display: block;
  text-align: center;
  width: 60px;
  height: 16px;
  border-radius: 8px;
  padding: 0;
  margin: 0 2rem;
  cursor: pointer;
  background-color: #b0acdb;
}

.checkbox:checked + label:before,
.checkbox:not(:checked) + label:before{
  position: absolute;
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  color: #b0acdb;
  background-color: #491199;
  font-family: 'unicons';
  content: '\eabf';
  z-index: 20;
  top: -10px;
  left: -10px;
  line-height: 36px;
  text-align: center;
  font-size: 20px;
  transition: all 0.5s ease;
}
.checkbox:checked + label:before {
  transform: translateX(44px) /* rotate(-270deg) */;
  content: '\ebae';
}

.board{
    text-align: center;
    width: 85%;
    height: 100vh;
    margin-left: 15%;
    padding-top: 2rem;
}

.kanban {
	display: flex;
	padding: 30px;
	border-radius: 5px;
    gap: 1rem;
    justify-content: space-between;
}

.kanban__column {
	flex: 1;
    background-color: #b0acdb;
    padding: 1rem;
    min-height: 250px;
    border-radius: 10px;
}

.kanban__column:not(:last-child) {
	margin-right: 30px;
}

.kanban__column-title {
	margin-bottom: 20px;
	font-size: 25px;
	color: white;
	user-select: none;
}

.kanban__item-input {
	padding: 10px 15px;
	box-sizing: border-box;
	background: white;
	border-radius: 5px;
	cursor: pointer;
}

.kanban__dropzone {
	height: 15px;
	transition: background 0.15s, height 0.15s;
}

.kanban__dropzone--active {
	height: 30px;
	background: rgba(0, 0, 0, 0.25);
}

.kanban__add-item {
	width: 100%;
	padding: 10px 0;
	font-size: 16px;
	color: white;
	background: rgba(0, 0, 0, 0.1);
	border: none;
	border-radius: 5px;
	cursor: pointer;
}