@import url(./modal.css);

.modal-kanban {
  display: none;
  position: fixed;
  z-index: 20;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  animation: modalOpen 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  opacity: 0;
  transform: scale(0.8);
  backdrop-filter: blur(3px);
}
  
.modal-content-kanban {
  background-color: #b0acdb;
  height: 65vh;
  border-radius: 10px;
  margin: 10% auto;
  padding: 20px 50px;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
}

.modal-title-kanban{
  font-size: 30px;
  text-align: center;
  color: #181537;
}

.modal-elements-kanban h2{
  color: #181537;
  font-size: 20px;
  margin-bottom: .5rem;
}

.modal-elements-kanban input, .modal-elements-kanban textarea{
  padding: .5rem;
  width: 60%;
  border: none;
  border-radius: 5px;
  outline-color: #7874a4;
}

.modal-botoes-kanban button{
  border: none;
  background-color: #7874a4;
  color: white;
  padding: 1rem 2rem;
  border-radius: 5px;
  margin: 0 .5rem;
  font-size: 18px;
  cursor: pointer;
}

.modal-botoes-kanban{
  text-align: center;
}

.modal-botoes-kanban button:hover, .-select-kanban:hover{
  background-color: #181537;
  transition: .2s;
}

#modal-date-kanban{
  width: 15%;
  padding: .8rem;
}

.dropdown-kanban{
  background-color: #7874a4;
  color: #fff;
  padding: .5rem 1rem;
  border-radius: 5px;
  width: 20%;
}