@import url(./reset.css);

.project_sidebar {
    padding: 2rem 0;
    width: 15%;
    height: 100vh;
    background-color: #363262;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profile{
    display: flex;
    color: white;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.profile-left{
    border: none;
    background-color: transparent;
    color: white;
    padding: 0 .5rem;
    text-align: start;
}

.profile-left p{
  font-size: 18px;
  font-weight: 600;
  margin-bottom: .2rem;
}

.profile-left span{
  font-size: 10px;
}

.profile-left:hover{
    background-color: #b0acdb79;
    transition: .2s;
    border-radius: 5px;
    color: white;
}

.project_sidebar_items a {
    color: white;
}
 
  .dropdown {
    min-width: 15rem;
    position: relative;
    margin: 2rem;
  }
  
  .select {
    background: #b0acdb;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px #b0acdb solid;
    border-radius: 0.5em;
    padding: 1rem;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  
  .select-clicked {
    border: 2px #26489a solid;
    box-shadow: 0 0 0.8em #26489a;
  }
  
  .select:hover {
    background: #7874a4;
  }
  
  .caret {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #fff;
    transition: 0.3s;
  }
  
  
  .caret-rotate {
    transform: rotate(180deg);
  }
  
  .menu {
    list-style: none;
    padding: 0.2em 0.5em;
    background: #b0acdb;
    border: 1px #b0acdb solid;
/*     box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2); */
    border-radius: 0.5em;
    color: #fff;
/*     position: absolute; */
    top: 3em;
    left: 50%;
    width: 100%;
/*     transform: translateX(-50%); */
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 1;
  }
  
  .menu li {
    padding: 0.7em 0.5em;
    margin: 0.3em 0;
    border-radius: 0.5em;
    cursor: pointer;
  }
  
  .menu li:hover {
    background: #363262;
  }
  
  .active {
    background: #363262;
  }
  
  
  .menu-open {
    display: block;
    opacity: 1;
  }

.sidebar-baixo{
  margin: 0 auto;
}

.logout {
  border: 1px solid #b90000;
  color: #b90000;
  border-radius: 10px;
  background-color: transparent;
  padding: .5rem 2rem;
}

.logout::before{
  font-family: 'unicons';
  content: '\eaef';
  margin-right: .5rem;
}

.logout:hover {
    background-color: #b90000;
    color: #fff;
    transition: .2s;
}

@media screen and (min-width: 1200px) and (max-width: 1700px){
  .select{
    width: 11vw;
  }

  .menu{
    width: 11vw;
  }

  .profile-left p{
    font-size: 16px;
    font-weight: 600;
  }

  .profile{
    padding: 0 1rem;
  }
}