.project_options{
    width: 85%;
    background-color: #363262;
}
.project_title{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}
.project_grid{
    margin-left: 10%;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 200px;
    background-color: #1500ff;
}
.project_items{
    padding-left: 5%;
    padding-right: 5%;
}