@import url(./reset.css);

body{
    background-color: #181537;
    color: #fff;
}

.infos{
    text-align: center;
    width: 85%;
    height: 100vh;
    margin-left: 15%;
    padding-top: 2rem;
}

.project_sidebar {
    padding: 2rem 0;
    width: 15%;
    height: 100vh;
    background-color: #363262;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar-cima{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 15vh;
    gap: 5rem;
    padding: 0 2rem;
}

.profile{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.suas-infos, .retornar, .seguranca, .verificacao{
    color: #fff;
    font-size: 20px;
}

.retornar::before{
    font-family: 'unicons';
    content: '\eb78';
    margin-right: .4rem;
}

.retornar:hover{
    text-decoration: underline;
    color: #b0acdb;
    transition: .3s;
}

.suas-infos::before{
    font-family: 'unicons';
    content: '\ea0d';
    margin-right: .4rem;
}

.suas-infos:hover, .seguranca:hover, .verificacao:hover{
    color: #b0acdb;
    transition: .3s;
}

.seguranca::before{
    font-family: 'unicons';
    content: '\e855';
    margin-right: .4rem;
}

.verificacao::before{
    font-family: 'unicons';
    content: '\e852';
    margin-right: .4rem;
}

.sidebar-baixo{
    margin: 0 auto;
}

.showing-infos{
    width: 70vw;
    height: 90vh;
    margin: 0 auto;
    padding: 3rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    border: 1px solid #7874a4;
    border-radius: 10px;
}

.infos-cima{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.infos-cima h1{
    font-size: 30px;
}

.profile-pic{
    width: 50px;
}

.infos-meio{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.user h2, .email h2, .telefone h2{
    font-size: 25px;
    margin-bottom: .5rem;
}

.user p, .email p, .telefone p{
    color: #b0acdb;
    font-size: 18px;
}

.edit-button{
    background-color: #b0acdb;
    padding: .5rem 1rem;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    cursor: pointer;
}

.edit-button:hover{
    background-color: #7874a4;
    transition: .3s;
}
  
.logout {
    border: 1px solid #b90000;
    color: #b90000;
    border-radius: 10px;
    background-color: transparent;
    padding: .5rem 2rem;
}
  
.logout::before{
    font-family: 'unicons';
    content: '\eaef';
    margin-right: .5rem;
}
  
.logout:hover {
    background-color: #b90000;
    color: #fff;
    transition: .2s;
}