html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color:#181537;
}
  
.login img{
    width:60px;
    margin-left:1700%;
    margin-bottom:1000%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height:84%;
}
  
.centered-icon {
    text-align: center;
}
  
footer {
    text-align: center;
}
footer p{
    color:white;
    font-size: large;
    letter-spacing:3px;
}
footer img{
    width:30px;
    padding:5px;
}
