@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');
@import url(./reset.css);
body{
    margin: 0%;
    padding: 0%;
    background-image: url(../fotos/splash.jpg);
    background-size:96%;
    background-attachment: fixed;
}

.icon{
    float:right;
    margin:3%;
}

.login{
    border-radius:5px;
    color:#7168CD;
    font-size: medium;
    background-color: transparent;
    border: 1px #7168CD solid;
    padding: .5rem 1rem;
}
.login:hover{
    border: 1px solid transparent;
    color: #fff;
    background-color: #7168CD;
    transition: .3s;
}