@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');
body{
    margin: 0%;
    padding: 0%;
    background-image: url(../fotos/splash.jpg);
    background-size:96%;
    background-attachment: fixed;
}

.icon{
    float:right;
    margin:3%;
}

.login{
    border:none;
    width:90px;
    height:35px;
    border-radius:5px;
    color:#7168CD;
    font-size: medium;
    background-color:transparent;
}
.login:hover{
    border:1.5px #7168CD solid;
}